// Boxes
// boxes-info
.boxes-info {
    .box-info {
        background-color: white;
        padding: 25px 15px;
        text-align: end;
        overflow: hidden;
        border-radius: 0.375rem;
        position: relative;
        box-shadow: 0 0 6px 0 #d3d3d3;
        transition: $transition;
        &:hover {
            box-shadow: 0 0 6px 0 #aeaaaa;
        }
        &.blue {
            .bg-icon {
                color: #5b8af0;
            }
        }
        &.green {
            .bg-icon {
                color: $main-color;
            }
        }
        &.pur {
            .bg-icon {
                color: #7b74eb;
            }
        }
        &.red {
            .bg-icon {
                color: #de5f56;
            }
        }
        .num {
            font-size: 25px;
        }
        .text {
            font-size: 15px;
            color: $text-greey;
        }
        .bg-icon {
            position: absolute;
            right: -3%;
            bottom: 0;
            font-size: 60px;
        }
    }
    &.boxes-bg-color .box-info {
        color: white;
        .text {
            color: white;
        }
        .bg-icon {
            color: white;
        }
        &.blue {
            background-color: #5b8af0;
        }
        &.green {
            background-color: $main-color;
        }
        &.pur {
            background-color: #7b74eb;
        }
        &.red {
            background-color: #de5f56;
        }
    }
}
// boxes-info5
.boxes-info-5 {
    display: grid;
    gap: 24px;
    @include minWidth(md) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include minWidth(xl) {
        grid-template-columns: repeat(5, 1fr);
    }
    .box-info {
        background-color: white;
        padding: 25px 15px;
        text-align: end;
        overflow: hidden;
        border-radius: 0.375rem;
        position: relative;
        box-shadow: 0 0 6px 0 #d3d3d3;
        transition: $transition;
        &:hover {
            box-shadow: 0 0 6px 0 #aeaaaa;
        }
        &.blue {
            .bg-icon {
                color: #5b8af0;
            }
        }
        &.green {
            .bg-icon {
                color: $main-color;
            }
        }
        &.pur {
            .bg-icon {
                color: #7b74eb;
            }
        }
        &.red {
            .bg-icon {
                color: #de5f56;
            }
        }
        &.orange {
            .bg-icon {
                color: orangered;
            }
        }
        .num {
            font-size: 25px;
        }
        .text {
            font-size: 15px;
            color: $text-greey;
        }
        .bg-icon {
            position: absolute;
            right: -3%;
            bottom: 0;
            font-size: 60px;
        }
    }
}
// box-header-invoice
.box-header-invoice {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 8px;
    display: none;
    @media print {
        display: block;

        .col-md-8 {
            width: 66.66666667% !important;
        }
        .col-md-4 {
            width: 33.33333333% !important;
        }
    }
    .img-logo {
        width: 70px;
    }
}

// Tables
// Main Table
.main-table {
    width: 100%;
    border-radius: 7px;
    border: none !important;
    text-align: center;
    border: 1px solid $light-grey-color !important;
    tbody {
        border-top: 0px !important;
    }
    tr {
        border: 1px solid $light-grey-color !important;
        th {
            background-color: $light-greey;
            color: $text-greey;
            font-size: 12px;
            font-weight: bold;
            white-space: nowrap;
            padding: 10px;
        }
        td {
            background-color: white;
            font-size: 14px;
            padding: 10px;
            vertical-align: middle;
        }
    }
}

// Lists
.main-list-group {
    .list-group-item {
        padding: 15px 10px;
        position: relative;
        .badge-count {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
        }
        &.active {
            background-color: $main-color !important;
            border-color: $main-color;
        }
    }
}

// scroll top btn
.up-btn {
    position: relative;
    overflow: hidden;
    bottom: 15px;
    right: -20%;
    width: 45px;
    height: 45px;
    background-color: $black-color;
    transition: $main-transition;
    z-index: 99999;
    font-size: large;
    @include centering;
    cursor: pointer;
    &.show {
        right: 15px;
    }
    > svg {
        position: absolute;
        transition: $main-transition;
        font-size: 23px;
        transform: translate(-50%, -50%);
        left: 50%;
    }
    .tooth-icon {
        top: 50%;
    }
    .up-ar {
        top: 200%;
    }
    &:hover .up-ar {
        top: 50%;
    }
    &:hover .tooth-icon {
        top: -100%;
    }
}
/*start nav taps*/

//main nav tap
.main-nav-tap {
    margin-bottom: 0 !important;
    border-radius: 0;
    flex-wrap: nowrap !important;
    .nav-item {
        flex: 1;
        .nav-link {
            white-space: nowrap !important;
            border-radius: 0 !important;
            background-color: $light-greey2;
            color: black;
            width: 100% !important;
            &.active {
                color: white !important;
                background-color: $main-color !important;
            }
        }
    }
}
// main tab content
.main-tab-content {
    border: 1px solid $light-grey-color;
    border-top: none;
    padding: 10px;
    ul {
        list-style: inside;
        margin: 0;
        padding: 0;
        a {
            color: $main-color;
        }
    }
}
/*end nav taps*/

// states box
.states-box {
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 0 0 9px 0 #dbdbdb;
    transition: $main-transition;
    &:hover {
        box-shadow: 0 0 9px 0 #b4b4b4;
    }
    .data-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 7px;
        .num-1 {
            color: #03a9f4;
        }
        .icon-1 {
            color: #03a9f4;
        }
        .num-2 {
            color: #ff835c;
        }
        .icon-2 {
            color: #ff835c;
        }
        .num-3 {
            color: $main-color;
        }
        .icon-3 {
            color: $main-color;
        }
        .num-4 {
            color: #ff594d;
        }
        .icon-4 {
            color: #ff594d;
        }
    }
    .text {
        margin-bottom: 15px;
    }
    .prog-box {
        .prog {
            width: 100%;
            height: 10px;
            border-radius: 20px;
            background-color: #e7e7e7;
            position: relative;
            span {
                height: 100%;
                border-radius: 20px;
                &.prog-1 {
                    position: absolute;
                    width: 80%;
                    background-color: #03a9f4;
                }
                &.prog-2 {
                    position: absolute;
                    width: 90%;
                    background-color: #ff835c;
                }
                &.prog-3 {
                    position: absolute;
                    width: 70%;
                    background-color: $main-color;
                }
                &.prog-4 {
                    position: absolute;
                    width: 70%;
                    background-color: #ff594d;
                }
            }
        }
    }
}

.box-report {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    min-height: 90px;
    padding: 10px;
    border: 1px solid #09adce;
    border-radius: 8px;
    box-shadow: inset 0px 3px 6px rgb(0 0 0 / 9%), 0px 3px 6px rgb(0 0 0 / 9%);
    transition: 0.7s;
    &:hover {
        box-shadow: inset 0 0 0 100px #09adce;
        p {
            color: white;
        }
    }
    p {
        @include minWidth(xl) {
            margin-left: 20px;
        }
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 18px;
        color: #020000;
        transition: 0.7s;
    }
    .report-img {
        width: 60px;
        height: 55px;
    }
}

.box-plan {
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1.5px solid #dddddd;
    // border: 1.5px solid #09adce;
    .name {
        margin-bottom: 10px;
        font-size: 20px;
        color: #dc362e;
    }
    .num {
        font-size: 23px;
        color: #dc362e;
        margin-bottom: 0px;
    }
}
